.star {
  background-image: url("../assets/images/Star.svg");

  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: 500px; 
}

.animate-marquee {
  animation: marquee 26s linear infinite;
}

@keyframes marquee {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(calc(-100% - 32px));
  }
}
